<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
	  
      <!--
	  <add name="cadena_conexion:" connectionString="Data Source=PC-FEDE\SQLEXPRESS;Initial Catalog=Gymmaster;Integrated Security=True" providerName="system.Data,SqlClient"/>
      -->


    
	  <add name="cadena_conexion" connectionString="Data Source=DESKTOP-G37IKCE\SQLEXPRESS;Initial Catalog=GymMaster;Integrated Security=True" providerName="system.Data.SqlClient"/>
    
  </connectionStrings>
</configuration>